# Render PostgreSQL external or internal connection link
DATABASE_URL=postgresql://todo_db_lg8v_user:h8V7UGs0PPROV54VcHA9HsTer4LSTM2H@dpg-d6kkgmtactks739vie0g-a.singapore-postgres.render.com/todo_db_lg8v?sslmode=require
